<app-search style="display: block; margin: 10px; float: right"></app-search>
<div class="card-group">
  <div *ngFor="let stock of companyIndex; let index=index ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> {{stock.id}} {{stock.companyName}}</h5>
        <img class="card-img-top" src="{{stock.imageUrl}}" alt="Card image cap">
        <div class="container bg-light">
          <div class="col-md-12 text-center">
            <button (click)="doDetails((index+1).toString())" type="button" class="btn btn-primary">
              Details {{stock.id}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" style="margin-top: 200px">
  <div class="footer-pagination">
    <div>
      <div class="col-md-6">
        <div class="flex-column">
          <div class="col-md-9">
            <ngb-pagination [(page)]="thePageNumber"
                            [pageSize]="thePageSize"
                            [collectionSize]="theTotalElements"
                            [maxSize]="5"
                            [boundaryLinks]="true"
                            (pageChange)="checkModelListCompanies()">
            </ngb-pagination>
          </div>
          <div class="col-md-3 mt-2" style="white-space: nowrap">
            <span class="mr-2">Page Size </span>
            <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
              <option>2</option>
              <option selected="true">5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




